Hola Daniel, te mandaron un info de contacto en tu blog
	
		<h3><%= @contact.name %></h3>
	<p>EMAIL: </b><%= @contact.email %></b></p>
	
	<p><%= @contact.msg %></p> 

Entrar a tu blog: <%= entrar_url %>